Repository brim-borium/spotify_sdk, pull requests merged in 2020-10, with the labels that each got.

#54 Implement SetToggle and SetRepeat for Android
  README.md
  android/src/main/kotlin/de/minimalme/spotify_sdk/SpotifyPlayerApi.kt
  android/src/main/kotlin/de/minimalme/spotify_sdk/SpotifySdkPlugin.kt
  example/lib/main.dart
  lib/spotify_sdk_web.dart
Labels: android, enhancement

#57 Update the spotify sdks in the example app
  android/build.gradle
  android/src/main/kotlin/de/minimalme/spotify_sdk/SpotifySdkPlugin.kt
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/spotify-app-remote/build.gradle
  example/android/spotify-app-remote/spotify-app-remote-release-0.7.0.aar
  example/android/spotify-app-remote/spotify-app-remote-release-0.7.1.aar
  example/android/spotify-auth/build.gradle
  example/android/spotify-auth/spotify-auth-release-1.2.1.aar
  example/android/spotify-auth/spotify-auth-release-1.2.3.aar
Labels: android, improvement

#42 Improving pub.dev score
  analysis_options.yaml
  example/lib/main.dart
  example/pubspec.yaml
  lib/spotify_sdk_web.dart
  pubspec.yaml
Labels: hacktoberfest, improvement
